/*
  jQuery moutardeSlider 
  (based on jQuery Coda-Slider v2.0 - http://www.ndoherty.biz/coda-slider)
  MIT license.
*/

.moutarde-slider-wrapper { 
  padding: 0;
}

.moutarde-slider {
  background: #ffffff;
}

/* Use this to keep the slider content contained in a box 
   even when JavaScript is disabled */
.moutarde-slider-no-js .moutarde-slider { 
  height: 560px; 
  overflow: auto 
  !important; padding-right: 
  0px
}

/* Change the width of the entire slider (without dynamic arrows) */
.moutarde-slider, 
.moutarde-slider .panel {
  width: 960px
} 

/* Change margin and width of the slider (with dynamic arrows) */
.moutarde-slider-wrapper.arrows .moutarde-slider,
.moutarde-slider-wrapper.arrows .moutarde-slider .panel {
  width: 960px
}

.moutarde-slider-wrapper.arrows .moutarde-slider { 
  margin: 0 10px 
}

/* Arrow styling */
.moutarde-nav-left a, 
.moutarde-nav-right a { 
  background: #000; 
  color: #fff; 
  padding: 5px; 
  width: 100px 
}

/* Tab nav */
.moutarde-nav ul li a.current { 
  background: #000000; 
}

/* Panel padding */
.moutarde-slider .panel-wrapper {
  padding: 0px 
}

/* Preloader */
.moutarde-slider p.loading {
  padding: 20px; text-align: center 
}

/* Tabbed nav */
.moutarde-nav ul {
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden
}

.moutarde-nav ul li { 
  display: inline
}

.moutarde-nav ul li a { 
  background: #999999;
  color: #fff;
  display: block;
  float: left;
  margin-right: 0;
  padding: 0;
  text-decoration: none
}

/* Miscellaneous */
.moutarde-slider-wrapper {
  clear: both; 
  overflow: auto
}

.moutarde-slider { 
  float: left;
  overflow: hidden;
  position: relative
}

.moutarde-slider .panel {
  display: block;
  float: left
}

.moutarde-slider .panel-container { 
  position: relative
}
.moutarde-nav-left,
.moutarde-nav-right {
  float: left
}

.moutarde-nav-left a,
.moutarde-nav-right a {
  display: block;
  text-align: center;
  text-decoration: none
}  